/DataSecurityLab1/Debug
/DataSecurityLab1/.vs
/DataSecurityLab1/DataSecurityLab1/Debug

/DataSecurityLab2/DataProtectionLab2Client/.vs
/DataSecurityLab2/DataProtectionLab2Client/packages
/DataSecurityLab2/DataProtectionLab2Client/DataProtectionLab2Client/bin
/DataSecurityLab2/DataProtectionLab2Client/DataProtectionLab2Client/obj

/DataSecurityLab3/.vs
/DataSecurityLab3/DataSecurityLab3/bin
/DataSecurityLab3/DataSecurityLab3/obj

/DataSecurityPractice1/.vs
/DataSecurityPractice1/DataSecurityPractice1/bin
/DataSecurityPractice1/DataSecurityPractice1/obj

/DataSecurityPractice2/.vs
/DataSecurityPractice2/DataSecurityPractice2/bin
/DataSecurityPractice2/DataSecurityPractice2/obj

/DataSecurityLab4/Chat/.vs
/DataSecurityLab4/Chat/packages
/DataSecurityLab4/Chat/Chat/bin
/DataSecurityLab4/Chat/Chat/obj

/DataSecurityLab4/ChatServer/.vs
/DataSecurityLab4/ChatServer/packages
/DataSecurityLab4/ChatServer/ChatServer/bin
/DataSecurityLab4/ChatServer/ChatServer/obj

/DataSecurityLab4/DataSecurityPractice2/.vs
/DataSecurityLab4/DataSecurityPractice2/DataSecurityPractice2/bin
/DataSecurityLab4/DataSecurityPractice2/DataSecurityPractice2/obj

/DataSecurityLab4/DiffieHellman/.vs
/DataSecurityLab4/DiffieHellman/DiffieHellman/bin
/DataSecurityLab4/DiffieHellman/DiffieHellman/obj