/DataSecurityLab1/Debug
/DataSecurityLab1/.vs
/DataSecurityLab1/DataSecurityLab1/Debug

/DataSecurityLab2/DataProtectionLab2Client/.vs
/DataSecurityLab2/DataProtectionLab2Client/packages
/DataSecurityLab2/DataProtectionLab2Client/DataProtectionLab2Client/bin
/DataSecurityLab2/DataProtectionLab2Client/DataProtectionLab2Client/obj
